# DATA URLS
ENDPOINT_URL="https://data.melbourne.vic.gov.au/api/explore/v2.1/catalog/datasets/on-street-parking-bay-sensors/records"
DATA_2019_URL="https://opendatasoft-s3.s3.amazonaws.com/downloads/archive/7pgd-bdf2.zip"
SPATIAL_DATA_URL="https://data.melbourne.vic.gov.au/api/explore/v2.1/catalog/datasets/on-street-parking-bays/exports/parquet?lang=en&timezone=Europe%2FBerlin"

# PROJECT ROOT
PROJECT_ROOT=

# DATA FILE NAMES
DATA_FOLDER_PATH_IPYNB="../../data/"
CSV_2019_RAW_NAME=
PARQUET_SPATIAL_RAW_NAME=
PARQUET_SPATIAL_MERGE=
PARQUET_PROCESSED_EDA=
PARQUET_MODEL=
PARQUET_API_MODEL=
DDBB_PATH=

# LOGS
LOG_POIS_NAME=
BEST_MODEL_LOG=
TEST_RESULTS_LOG=
API_RESULTS_LOG=

# MAP
MAP_NAME="map_locations.html"

# DOCKER & API
DUCKDB_PATH="/opt/airflow/duck_db"
AIRFLOW_UID=1013
START_DATE = 
END_DATE = 

# PYPOTS
DATA_AMOUNT=
MISSING_RATE=
TASK_TYPE=
PRED_STEPS=
GRID_FREQ=

